<!-- POS Layout -->
<div class="container-fluid vh-100 overflow-hidden">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div
      class="container-fluid d-flex justify-content-between align-items-center px-3"
    >
      <!-- Sidebar Toggle Button -->
      <button (click)="toggleSidebar()" class="btn btn-outline-success">
        <i class="fa-solid fa-bars"></i>
      </button>

      <div style="width: 40%" class="d-flex gap-2">
        <input
          type="text"
          pInputText
          placeholder="Search Items..."
          [(ngModel)]="searchItems"
          (input)="onSearchChange()"
          class="w-100"
        />
        <input
          type="text"
          pInputText
          placeholder="Scan barcode"
          [(ngModel)]="barcodeInput"
          #barcodeScan
          autocomplete="off"
          style="width: 260px"
        />
      </div>

      <!-- Right Side Menu -->
      <div class="d-flex align-items-center gap-3">
        <!-- Full Screen Button -->
        <button (click)="toggleFullScreen()" class="btn btn-link text-success">
          <i *ngIf="!isFullScreen" class="fa-solid fa-maximize"></i>
          <i *ngIf="isFullScreen" class="fa-solid fa-minimize"></i>
        </button>

        <button
          class="btn btn-link text-success"
          (click)="goto('app/main/dashboard/dashboard')"
        >
          <i class="fa fa-sign-out"></i>
        </button>
      </div>
    </div>
  </nav>
  <div class="row" style="height: 100%">
    <!-- Product Grid -->
    <div class="col-12 col-md-6">
      <app-pos-items class="d-block w-100"></app-pos-items>
    </div>

    <!-- Cart Sidebar -->
    <div class="col-12 col-md-6">
      <app-pos-cart-sidebar
        class="d-block w-100"
        style="height: 90vh"
      ></app-pos-cart-sidebar>
    </div>
  </div>
</div>
