<div class="table-responsive custom-table col-lg-12 col-md-12 col-sm-12">
  <div class="restock-message" *ngIf="getLowStockCount() > 0">
    <i class="pi pi-exclamation-triangle"></i>
    <span>{{ getLowStockCount() }} item(s) need restocking. Please restock these items.</span>
  </div>
  <p-table [value]="rows" [loading]="loading" [rowHover]="false" dataKey="itemName" [scrollable]="true" scrollHeight="55vh">
    <ng-template pTemplate="header">
      <tr>
        <th>Item</th>
        <th>Re-Order Qty</th>
        <th>Unit</th>
        <th>Warehouse</th>
        <th>Balance</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-r>
      <tr [ngClass]="{ 'low-stock': (r.balance || 0) < (r.reOrderQty || 0) }">
        <td>{{ r.itemName }}</td>
        <td>{{ r.reOrderQty }}</td>
        <td>{{ r.unitName }}</td>
        <td>{{ r.warehouseName }}</td>
        <td>{{ r.balance }}</td>
        <td>
          <span class="status-badge restock-needed" *ngIf="(r.balance || 0) < (r.reOrderQty || 0)">
            <i class="pi pi-exclamation-circle"></i> Restock Required
          </span>
          <span class="status-badge in-stock" *ngIf="(r.balance || 0) >= (r.reOrderQty || 0)">
            In Stock
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
